@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  outline: none;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active{
  right: 250px;
}
.inputs.active{
    z-index: -1;
    opacity: 0;
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  opacity: 0.4;
  mix-blend-mode: overlay;
}
.menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#F5F5F5, white);
}
.menu ul{
  position: relative;
}
.menu ul li{
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  font-size: 24px;
  color: #111;
  transition: .3s;
}
.menu ul li a:hover{
  color: #A80874;
}
.inputs{    
    position: absolute;
    z-index: 10;
    top: 10rem;
    transition: all .3s ease-in;
}
.form{
    display: flex;
    justify-content: center;
}
input{
    margin-left: -6px;
    border: none;
    width: 120px;
    height: 40px;
    background-color: white;
    padding: 15px;
}
input:focus{
    outline: none;
}
input:first-child{
   border-radius: 5px 0px 0px 5px;
   width: 235px;
}
input:nth-child(2){
    width: 235px;
}
input:nth-child(4){
    width: 200px;
}
input:nth-child(5){
    width: 210px;
}
.btn-search{
    width: 100px;
    height: 40px;
    margin-left: -3px;
    border: none;
    cursor: pointer;
    background-color: rgba(207, 0, 15, 1);
    color: white;
    border-radius: 0px 5px 5px 0px;
    border: none;
}
.btn-search:hover{
    background-color: rgba(255, 0, 0, 0.9);
}
input[type="date"]:not(.has-value):before{
    margin-right: 10px;
    color: black;
    content: attr(placeholder);
}
.results h2{
    position: absolute;
    z-index: 10;
    color: white;
    top: 15rem;
    left: 9rem;
}
.card{
    position: absolute;
    z-index: 10;
    top: 15rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 13rem;
}
.hoteis{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.box{
    width: 270px;
    height: 360px;
    background-color: white;
    z-index: 10;
    margin-left: 30px;
    border-radius: 5px;
    background-color: rgba(19, 19, 16, 0.8);
    display: flex;
    flex-direction: column;
}
.box p{
    color: black;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.description{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.description p {
    color: white;
    text-align: center;
    padding: 0.1rem;
}
.text{
    font-size: 15px;
}
.fa-star{
    color: yellow;
    margin-left: 5px;
}
.box-btn{
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 2rem;
}
.btn-rent{
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
    background:rgba(207, 0, 15, 1);
    transition: .5s;
    margin-top: 20px;
}
.btn-rent:hover{
    background: red;
}
.logout{
  display: flex;
  justify-content: center;
}
.login-a{
  color: white !important;
  font-size: 1.4rem;
  background-color: #A80874;
  border-radius: 5px;
  transition: .5s;
  border: 1px solid white;
  width: 150px;
  margin-top: 5rem;
  padding: 2px;
  font-size: 1.3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-a:hover{
  color: black !important;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
#icon-login{
  margin-left: 15px;
  color: white;
  font-size: 18px;
  transition: .5s;
}
.login-a:hover #icon-login{
  color: black;
}
